.prehled {
    background-color: rgba(0, 0, 0, 0.7); /* Průhledné tmavé pozadí */
    padding: 20px;
    border-radius: 10px; /* Kulaté rohy */
}

.table-dark th {
    color: white; /* Bílé písmo v záhlaví tabulky */
}

.table-dark td {
    color: white; /* Bílé písmo v buňkách tabulky */
}

.table-hover tbody tr:hover {
    background-color: rgba(
        255,
        255,
        255,
        0.1
    ); /* Jemné zvýraznění při hoveru */
}

h2 {
    margin-bottom: 20px;
}

.table-responsive {
    max-height: 500px; /* Nastavíme výšku, aby byl vidět efekt scrollování */
    overflow-y: auto; /* Povolit vertikální scrollování */
    overflow-x: auto; /* Povolit horizontální scrollování */
}

thead th {
    position: sticky; /* Umožní, aby se hlavička "přilepila" */
    top: 0; /* Přilepí ji k horní hraně kontejneru */
    background-color: rgb(0, 0, 0);
    z-index: 2; /* Zajistí, že hlavička bude nad obsahem tabulky */
    color: white; /* Bílé písmo pro čitelnost */
    padding-top: 10px;
    padding-bottom: 10px;
}
