<div class="about-section">
    <h2>O Aplikaci</h2>
    <p>Communicate & Motion => Commmotion</p>
    <p>
        Vítejte v aplikaci pro vizualizaci struktury telekomunikační sítě a
        sledování pohybu objektů. Snadno importujte logy a zobrazte GPS polohová
        data spolu s informacemi o BTS (Base Transceiver Station), ke které bylo
        vaše zařízení připojeno, na interaktivních mapách. Přepínejte mezi
        různými logy, prohlížejte podrobnosti o připojení a ukládejte data pro
        další použití. Aplikace je postavena na moderní technologii Angular, a
        využívá mapové nástroje jako Leaflet a OpenStreetMaps pro maximální
        přehlednost a snadné ovládání.
    </p>
</div>
