<div class="about-section">
    <h2 class="text-warning text-center">O Aplikaci</h2>
    <p class="text-center">Communicate && Motion => Commmotion</p>
    <p>
        Vítejte v aplikaci pro vizualizaci struktury telekomunikační sítě a
        sledování pohybu objektů. Snadno importujte logy a zobrazte GPS polohová
        data spolu s informacemi o BTS (Base Transceiver Station), ke které bylo
        vaše zařízení připojeno, na interaktivních mapách. Přepínání mezi
        různými logy a ukládání dat do databáze pro další použití je také možné,
        ale ne v této demo verzi.
    </p>
    <p>
        Aplikace je postavena na moderní technologii Angular, a využívá mapové
        nástroje jako Leaflet a OpenStreetMaps pro maximální přehlednost a
        snadné ovládání.
    </p>
</div>
