.app-container {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.about-background {
    background-image: url("/mmm3.jpg");
}

.map-background {
    background-image: url("/mmm3.jpg");
}

.log-viewer-background {
    background-image: url("/mmm3.jpg");
}

.guide-background {
    background-image: url("/mmm3.jpg");
}

/* Zabrání horizontálnímu posunu sekcí */
header,
main,
footer {
    max-width: 100%;
    overflow-x: hidden;
}

nav.navbar {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 1030;
    position: fixed;
    top: 0;
    width: 100%;
}

.container-fluid.pt-5 {
    padding-top: 70px;
}

button {
    max-width: 100%;
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

.nav-item .nav-link {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-item .nav-link .fa-2x {
    margin-bottom: 5px;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.1);
}

.nav-item .nav-link.active {
    color: #ffc436;
}

.navbar-dark {
    background-color: #0c356a;
}

.navbar-nav {
    justify-content: flex-start;
}
