<div class="app-container" [ngStyle]="{ 'background-image': getBackground() }">
    <header>
        <h1>COMMMOTION</h1>
        <nav>
            <button (click)="switchComponent('about')">O aplikaci</button>
            <button (click)="switchComponent('map')">Mapa</button>
            <button (click)="switchComponent('logViewer')">Správa logů</button>
        </nav>
    </header>

    <main>
        <!-- podmíněné vykreslování -->
        @if (currentView === 'about') {
        <app-about></app-about>
        } @if (currentView === 'logViewer') {
        <app-log-viewer></app-log-viewer>
        } @if (currentView === 'map') {
        <app-map></app-map>
        }
    </main>

    <footer>
        <p>&copy; 2024 Libor Šaja</p>
    </footer>
</div>
