.app-container {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    width: 100%;
}

.about-background {
    background: url("/mmm5.jpg") no-repeat center center fixed;
    background-size: cover;
}

.map-background {
    background: url("/mmm3.jpg") no-repeat center center fixed;
    background-size: cover;
}

.log-viewer-background {
    background: url("/mmm2.jpg") no-repeat center center fixed;
    background-size: cover;
}

header,
main,
footer {
    max-width: 100%;
    overflow-x: hidden; /* Zabrání horizontálnímu posunu jednotlivých sekcí */
}

nav {
    display: flex;
    flex-wrap: wrap; /* Zajistí, že tlačítka se při menších šířkách zalamují na další řádek */
    justify-content: center; /* Centrovaná navigace */
    max-width: 100%;
    overflow-x: hidden;
}

button {
    max-width: 100%; /* Zajistí, že tlačítka nebudou přesahovat šířku svého kontejneru */
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}
