<div class="container-fluid app-container" [ngClass]="currentRoute">
    <header class="text-center py-3">
        <h1 class="display-4">COMMMOTION</h1>
        <nav class="d-flex justify-content-center flex-wrap">
            <a
                routerLink="/"
                class="btn btn-success m-2"
                routerLinkActive="active">
                O aplikaci
            </a>
            <a
                routerLink="/map"
                class="btn btn-success m-2"
                routerLinkActive="active">
                Mapa
            </a>
            <a
                routerLink="/logViewer"
                class="btn btn-success m-2"
                routerLinkActive="active">
                Správa logů
            </a>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <footer class="text-center py-3 mt-auto">
        <p>&copy; 2024 Libor Šaja</p>
    </footer>
</div>
