<div class="container p-3 border rounded">
    <h6>Informace o objektu:</h6>
  
    <!-- Informace o mobilním zařízení -->
    <div class="mt-3">
      <strong>Mobilní zařízení:</strong>
      <ul class="list-unstyled">
        <li>Zeměpisná šířka: 67666265</li>
        <li>Zeměpisná délka: 545642257</li>
        <li>Čas: 12.12.2024 16:40:25</li>
      </ul>
    </div>
  
    <!-- Informace o BTS -->
    <div class="mt-3">
      <strong>BTS:</strong>
      <ul class="list-unstyled">
        <li>Zeměpisná šířka: 989929</li>
        <li>Zeměpisná délka: 666646</li>
        <li>Čas: 12.12.2024 16:40:05</li>
        <li>Vlastník: T-mobile</li>
        <li>Identifikátor buňky: 123456</li>
        <li>Oblast: 44626</li>
      </ul>
    </div>
  
    <!-- Přepínače pro zobrazení informací -->
    <div class="mt-4">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="infoMobil">
        <label class="form-check-label" for="infoMobil">
          <span class="text-dark"><strong>•</strong></span> Zobrazit informace o mobilu
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="infoBTS">
        <label class="form-check-label" for="infoBTS">
          <span class="text-danger"><strong>•</strong></span> Zobrazit informace o BTS
        </label>
      </div>
    </div>
  </div>
  
