<div class="container p-3">
  
    <!-- Informace o mobilním zařízení -->
    <div class="mt-3">
      <strong>Mobilní zařízení:</strong>
      <ul class="list-unstyled">
        <li>Zeměpisná šířka: 67666265</li>
        <li>Zeměpisná délka: 545642257</li>
        <li>Čas: 12.12.2024 16:40:25</li>
      </ul>
    </div>
  
    <!-- Informace o BTS -->
    <div class="mt-3">
      <strong>Bylo připojeno k BTS:</strong>
      <ul class="list-unstyled">
        <li>Zeměpisná šířka: 989929</li>
        <li>Zeměpisná délka: 666646</li>
        <li>Čas: 12.12.2024 16:40:05</li>
        <li>Vlastník: T-mobile</li>
        <li>Identifikátor buňky: 123456</li>
        <li>Oblast: 44626</li>
      </ul>
    </div>
  
    
  
